<main class="container-main">
    <app-content-shopping-cart class="shopping-cart"></app-content-shopping-cart>
    <header class="header">
        <div class="header-fond">
            <div class="header-drop_1"></div>
            <div class="header-drop_2"></div>
        </div>
        <h1 class="header-title">Product List</h1>
    </header>
    <body>
        <section class="container-search">
            <app-search class="search"></app-search>
        </section>
        <section class="slider">
            <button (click)="change_active_page(-1)" class="button-prev"><</button>
            <ul class="container-products">
                <ng-container *ngFor="let product of products">
                    <app-product-card (customEvent)="add_product_to_cart(product.id.valueOf(), $event)" [product]="product" (click)="redirect_product_with_id(product.id.valueOf())">
                    </app-product-card>
                </ng-container>
            </ul>
            <button (click)="change_active_page(1)" class="button-next">></button>
        </section>
    </body>
</main>